<h2>Welcome </h2>
<br />
<a href="/logout/"><button>Logout</button></a>
<br />
<a href="/new_ticket/"><button>Make A New Ticket</button></a>
<br/>
<a href="//">Authors </a>

<br/>
<h2> Tickets </h2>
<br/>

<h2>New </h2>
{%for ticket in tickets_new%}
    <a href="/ticketdetail/{{ticket.id}}"> {{ticket.title}} </a>
    <br/>
{%endfor%}

<h2>In Progress </h2>
{%for ticket in tickets_in_progress%}
    <a href="/ticketdetail/{{ticket.id}}"> {{ticket.title}} </a>
    <br/>
{%endfor%}

<h2>Completed </h2>
{%for ticket in tickets_completed%}
    <a href="/ticketdetail/{{ticket.id}}"> {{ticket.title}} </a>
    <br/>
{%endfor%}

<h2>Invalid </h2>
{%for ticket in tickets_invalid%}
    <a href="/ticketdetail/{{ticket.id}}"> {{ticket.title}} </a>
    <br/>
{%endfor%}
